<footer class="footer center-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span><%= image_tag "instagram_logo.png", size: "25x25" %></span>
          <span class="bold">#fORReverafter</span>
        </p>
        <p>
          <span>Share your wedding pics with us on Instagram</span>
        </p>
      </div>
    </div>
  </div>
</footer>