<footer class="instagram-section center-text">
  <p>
    <span>
      <%= image_tag "instagram_logo.png", size: "50x50" %>
    </span>
    <span class="bold">#fORReverafter</span>
  </p>
  <p><span>Share your wedding pics with us on Instagram.</span></p>
</section>
