<section class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron center-text">
          <h2 class="bold">Welcome to our wedding site!</h2>
          <p class="bold">Please let us know if you can make it by 5/8/2017.</p>
          <p>- JoRae & Mike</p>
          <%= button_to "RSVP", new_rsvp_path, method: :get, class: "btn btn-lg btn-primary bold top10" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="schedule-section center-text">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h4 class="bold">Rehearsal Dinner for Wedding Party</h3>
      <p>July 7th, 2017 5pm</p>
      <p>Address</p>
      <p>Saratoga, WY</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4 class="bold">Wedding Ceremony</h4>
      <p>July 8th, 2017 4pm</p>
      <p>Address</p>
      <p>Saratoga, WY</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4 class="bold">Brunch at Saratoga Inn</h4>
      <p>July 9th, 2017 8am-12pm</p>
      <p>Address</p>
      <p>Saratoga, WY</p>
    </div>
  </div>
</section>

<section class="instagram-section center-text">
  <span>
    <%= image_tag "instagram_logo.png", size: "75x75" %>
  </span>
  <span>Share your pics with us on Instagram using hashtag</span>
  <span class="bold">#fORReverafter</span>
</section>
