<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "home" %>
<% end %>

<section class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron center-text">
          <h2 class="bold">Welcome to our wedding site!</h2>
          <p class="bold">Please let us know if you can make it by 5/8/2017.</p>
          <p>- JoRae & Mike</p>
          <%= button_to "RSVP", rsvp_path, method: :get, class: "btn btn-lg btn-primary bold top10" %>
        </div>
      </div>
    </div>
    <div class="row top30">
      <div class="col-xs-12 center-text">
        <a id="scrollLink" class="bold" href="#">Schedule</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 center-text">
        <span><i id="scrollArrow" class="arrow glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
  </div>
</section>

<section id="scheduleSection" class="schedule-section center-text">
  <div class="col-xs-12">
    <h2>Schedule of Events</h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Rehearsal (Wedding Party Only)</h3>
        <p>July 7th, 2017 4pm</p>
        <p>TBD</p>
        <p>TBD</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Rehearsal Dinner (Wedding Party Only)</h3>
        <p>July 7th, 2017 430pm</p>
        <p>Hotel Wolf (back room)</p>
        <p>101 E Bridge St, Saratoga, WY 82331</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Cocktails</h3>
        <p>July 7th, 2017 7pm</p>
        <p>Hotel Wolf (front bar)</p>
        <p>101 E Bridge St, Saratoga, WY 82331</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Wedding Ceremony</h4>
        <p>July 8th, 2017 4pm</p>
        <p>Upper Cedar Creek Ranch</p>
        <p>Saratoga, WY <%= link_to "Directions", directions_path %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Wedding Reception</h4>
        <p>July 8th, 2017 430pm</p>
        <p>Upper Cedar Creek Ranch</p>
        <p>Saratoga, WY <%= link_to "Directions", directions_path %></p>
      </div>
    </div>

    <!-- <div class="col-xs-12 col-sm-4">
      <div class="well well-sm">
        <h4 class="bold">Continental Breakfast</h4>
        <p>July 9th, 2017 1030am</p>
        <p>St. Ann Parish Church Hall</p>
        <p>218 W. Spring Ave, Saratoga, WY 82331</p>
      </div>
    </div> -->

  </div>
</section>