<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Lodging & Directions</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="bold">Riviera Lodge</span>
        </div>
        <div class="panel-body">
          <p>We have several rooms blocked off here, and most travelers are lodging here.</p>
          <p class="bold">104 East Saratoga, Saratoga, Wy 82331</p>
          <p><%= link_to "Website", "http://www.therivieralodge.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="bold">Hacienda Motel</span>
        </div>
        <div class="panel-body">
          <p>This is the next best hotel if Riviera fills up. We have some rooms blocked off here too.</p>
          <p class="bold">1500 S 1st St, Saratoga, WY 82331</p>
          <p><%= link_to "Website", "https://www.tripadvisor.com/Hotel_Review-g60549-d618394-Reviews-Hacienda_Motel-Saratoga_Wyoming.html", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="bold">Saratoga Inn</span>
        </div>
        <div class="panel-body">
          <p>This is the nice resort in town. Another wedding blocked the hotel, but maybe you'll have luck booking a room.</p>
          <p class="bold">601 Pic Pike Rd, Saratoga, WY 82331</p>
          <p><%= link_to "Website", "saratogahotspringsresort.com", :target => "_blank" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="bold">Saratoga to Upper Cedar Creek Ranch</span>
        </div>
        <div class="panel-body">
          <p class="bold">10 mi | 15 min</p>
          <ul>
            <li>
              Find Bridge street which is the main E-W running street
            </li>
            <li>
              Go east on Bridge street and cross the bridge over the North Platte river and travel a couple of blocks to the SE and find the Saratoga Inn Resort
            </li>
            <li class="bold">
              Check your odometer
            </li>
            <li>
              Go past the Saratoga Inn and travel east. You are on County Road 504. Stay on this paved road and about 3 miles east you will come to a “Y” in the pavement.
            </li>
            <li>
              Stay on #504 and DO NOT turn right on #209. At about 4 miles road will turn to gravel.
            </li>
            <li class="bold">
              At 11 miles from the Saratoga Inn a sign will direct you into to the ranch.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="bold">Denver to Saratoga (highway)</span>
        </div>
        <div class="panel-body">
          <p class="bold">229 mi | 3 h 36 min without traffic</p>
          <ul>
            <li>
              Get on I-25 N from Speer Blvd
              --- 8 min (2.2 mi)
            </li>
            <li>
              Follow I-25 N to E Co Rd 70/Owl Canyon Rd in Larimer County. Take exit 281 from I-25 N
              --- 1 h (69.8 mi)
            </li>
            <li>
              Get on I-80 W in Laramie from US-287 N
              --- 59 min (58.2 mi)
            </li>
            <li>
              Follow I-80 W to US-287 N/US-30 W/WY-130 E in Carbon County. Take exit 235 from I-80 W
              --- 1 h 22 min (92.6 mi)
            </li>
            <li>
              Follow WY-130 E to E Bridge Ave in Saratoga
              --- 20 min (20.4 mi)
            </li>
          </ul>

          <p class="bold">You can also continue to Cheyenne on 25N to avoid 287 for only a couple more minutes.</p>

        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="bold">Denver to Saratoga via Snowy Range (scenic)</span>
        </div>
        <div class="panel-body">
          <p class="bold">208 mi | 3 h 25 min without traffic</p>
          <ul>
            <li>
              Get on I-25 N from Speer Blvd
              --- 8 min (2.2 mi)
            </li>
            <li>
              Follow I-25 N to E Co Rd 70/Owl Canyon Rd in Larimer County. Take exit 281 from I-25 N
              --- 1 h (69.8 mi)
            </li>
            <li>
              Continue on E Co Rd 70/Owl Canyon Rd to US-287 N
              --- 16 min (11.4 mi)
            </li>
            <li>
              Follow US-287 N to WY-130 W/WY-230 W/Snowy Range Rd in Laramie. Take exit 311 from I-80 W
              --- 45 min (48.4 mi)
            </li>
            <li>
              Follow WY-130 W to E Bridge Ave in Saratoga
              --- 1 h 24 min (76.6 mi)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="bold">Laramie to Upper Cedar Creek Ranch via Snowy Range</span>
        </div>
        <div class="panel-body">
          If you are traveling over the Snowy Range from Laramie. As you are leaving the mountains you will pass Ryan Park, Medicine Bow Lodge, etc. Then you will pass a place called Tenmile Inn, with a number of log cabins, and across the highway a little restaurant called The Place. (Check your odometer) . About 1 mile past here you will see a gravel road #504 leaving the pavement gradually to the right. (if you go thru the narrow rock-walled canyon you missed the turn) Take this #504 and go 4 miles and you will find the ranch.
        </div>
      </div>
    </div>


  </div>

</div>