<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Registry</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>Coming soon...</p>
      <%= cl_image_tag("sievdzl3v6lk8h5ueti2.jpg") %>
    </div>
  </div>
</div>