<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Things To Do</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Machete Tequila + Tacos</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Delicious tacos and tequila downtown.</p>
          <p>1730 Wynkoop St, Denver, CO 80202</p>
          <p><%= link_to "Website", "http://machetedenver.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Union Station</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Restaurants, bars, historic bookshop in the heart of Denver.</p>
          <p>1701 Wynkoop St, Denver, CO 80202</p>
          <p><%= link_to "Website", "http://unionstationindenver.com/", :target => "_blank" %></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="bold">Coor's Field</span>
        </div>
        <div class="panel-body">
          <p class="bold">Denver</p>
          <p>Home of the Colorado Rockies.</p>
          <p>2001 Blake St, Denver, CO 80205</p>
          <p><%= link_to "Website", "http://colorado.rockies.mlb.com/index.jsp?c_id=col", :target => "_blank" %></p>
        </div>
      </div>
    </div>


    Voodoo Donuts
    1520 E Colfax Ave, Denver, CO 80218

    Lamar's Donutes
    9940 Wadsworth Pkwy, Westminster, CO 80021
    and other locations

    Biker Jim's Gourmet Hot Dogs
    2148 Larimer St, Denver, CO 80205

  </div>
</div>