<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Wedding Party</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-responsive center-text">
        <thead>
          <th class="center-text bold">
            Bride
          </th>
          <th class="center-text bold">
            Groom
          </th>
        </thead>

        <tbody>
          <tr>
            <td>
              JoRae Alice Hohnholt
            </td>
            <td>
              Michael Joseph Orr
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-responsive center-text">
        <thead>
          <th class="center-text bold">
            Bridesmaids
          </th>
          <th class="center-text bold">
            Groomsmen
          </th>
        </thead>

        <tbody>
          <tr>
            <td>
              Shelby Hohnholt
            </td>
            <td>
              Stephen Orr IV
            </td>
          </tr>

          <tr>
            <td>
              Sara Spalding
            </td>
            <td>
              Patrick Orr
            </td>
          </tr>

          <tr>
            <td>
              Who dis?
            </td>
            <td>
              John Williams
            </td>
          </tr>

          <tr>
            <td>
              Who dis?
            </td>
            <td>
              Hayden Hohnholt
            </td>
          </tr>

          <tr>
            <td>
              Who dis?
            </td>
            <td>
              Chris Hawks
            </td>
          </tr>

          <tr>
            <td>
              Who dis?
            </td>
            <td>
              Noah Matesa
            </td>
          </tr>

          <tr>
            <td>
              Who dis?
            </td>
            <td>
              Ed Bindl
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-responsive center-text">
        <thead>
          <th class="center-text bold">
            Flower Girls
          </th>
          <th class="center-text bold">
            Ring Bearers
          </th>
        </thead>

        <tbody>
          <tr>
            <td>
              Serenity *****
            </td>
            <td>
              Stephen Orr V
            </td>
          </tr>

          <tr>
            <td>
              Skyla Orr
            </td>
            <td>
              ******
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>