/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Bootstrap Overrides */
$pool: #00cccc;
$mint: #a9eae0;
$tan: #c9c084;
$spa: #11eddf;

$brand-primary: $pool;
$brand-success: $mint;
$brand-info: $tan;
$brand-warning: $spa;
$brand-danger: black;

$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $tan;
$navbar-default-link-active-color: $tan;
$navbar-default-bg: $pool;
$navbar-default-brand-color: black;
$navbar-default-toggle-hover-bg: white;
$navbar-default-toggle-icon-bar-bg: $spa;
$navbar-default-toggle-border-color: white;

$state-success-text: white;
$state-success-bg: $mint;
$state-info-text: white;
$state-info-bg: $tan;
$state-warning-text: white;
$state-warning-bg: $spa;
$state-danger-text: white;
$state-danger-bg: black;

/* End Bootstrap Overrides */

@import "bootstrap";

html body{
  font-family: 'Handlee', cursive;
  padding-bottom: 60px; // Because of fixed footer
}

.hidden {
  display: none;
}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

p.small-text {
  font-size: 12px;
}

.navbar-btn-margin {
  margin-top: 6px;
}

.top-section {
  min-height: 600px;
  margin-bottom: 0;
  padding-top: 30px;
  background-color: $spa;
  background: image-url("union_station.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .jumbotron {
    color: white;
    border: 1px solid $pool;
    background-color: rgba(0,0,0,0.4);
  }
}

.schedule-section {
//  background: $tan;
  margin-top: -20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer.footer {
  background: $mint;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 0;
  padding-top: 10px;
  font-size: 10px;
  border: 1px solid transparent;
  border-color: darken($mint, 30%);

  .bold {
    font-size: 11px;
    vertical-align: middle;
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.center-text {
  text-align: center;
}

.top10 {
  margin-top: 10px;
}

.top30 {
  margin-top: 30px;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron.invite-lookup {
  background-color: $mint;
}

.jumbotron.rsvp {
  background-color: $tan;
}
